In [131]:
import matplotlib
import matplotlib.pyplot as plt 
import pandas as pd
import numpy as np 
import glob

In [194]:
name_s = glob.glob('../output/space**.csv')
name_v = glob.glob('../output/speed**.csv')
name_u = glob.glob('../output/control**.csv')
name_r = glob.glob('../output/reference**.csv')

In [217]:
def read_df_list(files_dist):
    """Read a set of CSV files by variable"""
    truck_list = list(range(4))
    NROW = 550
    df_list = []
    df_info = []
    for name in name_s:
        s_split = name.split('_')
        truck_id = int(s_split[2])
        s_gap = s_split[-1].split('.csv')
        gap_r = float(s_gap[0])
        df_info.append((truck_id, gap_r))
        df_list.append(pd.read_csv(name, delimiter='\t', names = truck_list, nrows = NROW))

    full_data = pd.concat(df_list, keys = df_info)
    df = full_data.reset_index()
    
    df.columns = ['id','gap','t']+list(df.columns)[3:]
    df['t'] = df['t'].apply(lambda x: x*0.1)
#     df = df.set_index(['id','gap','t'])
    return df

In [218]:
df_s = read_df_list(name_s)
df_v = read_df_list(name_v)
df_u = read_df_list(name_u)
df_r = read_df_list(name_r)

In [220]:
df_s

      id  gap     t     0        1        2        3
0      2  1.8   0.0  18.0  30.0000  30.0000  30.0000
1      2  1.8   0.1  18.0  30.0000  30.0000  30.0000
2      2  1.8   0.2  18.0  30.0000  30.0000  30.0000
3      2  1.8   0.3  18.0  30.0000  30.0001  30.0000
4      2  1.8   0.4  18.0  30.0000  30.0001  29.9999
5      2  1.8   0.5  18.0  30.0000  30.0002  29.9999
6      2  1.8   0.6  18.0  30.0000  30.0004  29.9998
7      2  1.8   0.7  18.0  30.0000  30.0005  29.9997
8      2  1.8   0.8  18.0  30.0000  30.0007  29.9997
9      2  1.8   0.9  18.0  30.0000  30.0009  29.9996
10     2  1.8   1.0  18.0  30.0000  30.0011  29.9995
11     2  1.8   1.1  18.0  30.0000  30.0014  29.9994
12     2  1.8   1.2  18.0  29.9999  30.0017  29.9993
13     2  1.8   1.3  18.0  29.9999  30.0019  29.9992
14     2  1.8   1.4  18.0  29.9999  30.0022  29.9991
15     2  1.8   1.5  18.0  29.9999  30.0026  29.9989
16     2  1.8   1.6  18.0  29.9999  30.0029  29.9988
17     2  1.8   1.7  18.0  29.9998  30.0033  29.9987
18     2  1.8   1.8  18.0  29.9998  30.0036  29.9986
19     2  1.8   1.9  18.0  29.9998  30.0040  29.9985
20     2  1.8   2.0  18.0  29.9997  30.0044  29.9983
21     2  1.8   2.1  18.0  29.9997  30.0048  29.9982
22     2  1.8   2.2  18.0  29.9997  30.0053  29.9981
23     2  1.8   2.3  18.0  29.9996  30.0057  29.9980
24     2  1.8   2.4  18.0  29.9996  30.0062  29.9979
25     2  1.8   2.5  18.0  29.9995  30.0067  29.9977
26     2  1.8   2.6  18.0  29.9995  30.0072  29.9976
27     2  1.8   2.7  18.0  29.9994  30.0077  29.9975
28     2  1.8   2.8  18.0  29.9994  30.0082  29.9973
29     2  1.8   2.9  18.0  29.9993  30.0088  29.9972
...   ..  ...   ...   ...      ...      ...      ...
4920   1  1.2  52.0  18.0  41.7651  29.9870  29.9799
4921   1  1.2  52.1  18.0  41.7648  29.9869  29.9798
4922   1  1.2  52.2  18.0  41.7646  29.9869  29.9797
4923   1  1.2  52.3  18.0  41.7643  29.9868  29.9796
4924   1  1.2  52.4  18.0  41.7641  29.9867  29.9795
4925   1  1.2  52.5  18.0  41.7638  29.9866  29.9794
4926   1  1.2  52.6  18.0  41.7636  29.9865  29.9793
4927   1  1.2  52.7  18.0  41.7634  29.9864  29.9792
4928   1  1.2  52.8  18.0  41.7631  29.9863  29.9791
4929   1  1.2  52.9  18.0  41.7629  29.9862  29.9790
4930   1  1.2  53.0  18.0  41.7626  29.9861  29.9789
4931   1  1.2  53.1  18.0  41.7624  29.9860  29.9788
4932   1  1.2  53.2  18.0  41.7621  29.9859  29.9787
4933   1  1.2  53.3  18.0  41.7619  29.9858  29.9787
4934   1  1.2  53.4  18.0  41.7616  29.9857  29.9786
4935   1  1.2  53.5  18.0  41.7614  29.9856  29.9785
4936   1  1.2  53.6  18.0  41.7611  29.9855  29.9784
4937   1  1.2  53.7  18.0  41.7609  29.9854  29.9783
4938   1  1.2  53.8  18.0  41.7606  29.9853  29.9782
4939   1  1.2  53.9  18.0  41.7604  29.9852  29.9781
4940   1  1.2  54.0  18.0  41.7602  29.9851  29.9780
4941   1  1.2  54.1  18.0  41.7599  29.9850  29.9779
4942   1  1.2  54.2  18.0  41.7597  29.9849  29.9778
4943   1  1.2  54.3  18.0  41.7594  29.9848  29.9777
4944   1  1.2  54.4  18.0  41.7592  29.9847  29.9776
4945   1  1.2  54.5  18.0  41.7589  29.9846  29.9775
4946   1  1.2  54.6  18.0  41.7587  29.9845  29.9774
4947   1  1.2  54.7  18.0  41.7584  29.9844  29.9773
4948   1  1.2  54.8  18.0  41.7582  29.9843  29.9772
4949   1  1.2  54.9  18.0  41.7579  29.9842  29.9771

[4950 rows x 7 columns]